<h3>Chat</h3>
<form id="formChat">
    <input type="Email" id='name' placeholder="email" required>

    <div id="chat">
       
    </div>
    <input type="text" id="mensaje" placeholder="mensaje" required>
    <input type="submit" value="Enviar">
</form>



</div>