{{#if messages.length}}
{{#each messages}}
<div class="mensaje">

    <div class="datos">
        <p class="email">{{this.nombre}}</p>
        <p class="time">{{this.timestamp}}</p>
    </div>
    <p class="text">{{this.mensaje}}</p>
</div>
{{/each}}
{{/if}}